<div class="col sm-10 md-3 {% if forloop.first %}md-push-2 lg-push-3{% endif %}">
	<div>
		<h3>{{ shop.name }}</h3>
		<h4>{{ shop.area }}</h4>
		<address>{{ shop.address }}<br>{{ shop.postCode }}</address>
		<a href="https://www.google.com/maps/dir/?api=1&destination={{ shop.postCode }}" class="small faded" target="_blank">View on map</a>
	</div>
</div>
